{% extends "layout.html.twig" %}

{% block title %}Pizza{% endblock %}   

{% block body %}

    <section>
        <article>
            <h2>Nos pizzas</h2>

            <ul class="list-group" >
                {% for pizza in pizzas %}
                    <li class="list-group-item" >
                        {{ pizza.name }}
                        <span class="badge badge-info">{{ pizza.ingredients|join(' | ') }}</span>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </section>
{% endblock %}


