{% extends "layout.html.twig" %}

{% block title %}Pizza{% endblock %}   

{% block body %}

    <section>
        <article>
            <h2>Nos pizzas</h2>

            <ul>
                {% for pizza in pizzas %}
                    <li>{{ pizza.name }} 
                        ( Ingrédients : {{ pizza.ingredients|join(', ') }} )
                    </li>
                {% endfor %}
            </ul>

            {% if is_granted("ROLE_ADMIN") %}
                <div class="well">
                    <p>
                        <a class="btn btn-primary" href="/addpizza">Ajouter une pizza</a>
                    </p>
                </div>
            {% endif %}
        </article>
    </section>
{% endblock %}


