{% extends "layout.html.twig" %}

{% block title %}Pizza - Admin{% endblock %}   

{% block body %}

    <section>
        <article>
            <h2>ADMIN</h2>


            <div class="well">

                <h3>PIZZA</h3>
                <p>
                    <a class="btn btn-primary" href="/admin/pizza/add">AJOUTER UNE PIZZA</a>
                </p>
                <h3>INGREDIENTS</h3>
                <p>
                    <a class="btn btn-primary" href="/admin/pizza/add">AJOUTER UN INGREDIENT</a>
                </p>
                <h3>COMMANDE</h3>
                <p>
                    <a class="btn btn-primary" href="/commande/waiting">COMMANDES EN COURS</a>
                </p>
                <p>
                    <a class="btn btn-primary" href="/commande/done">COMMANDES ENVOYEES</a>
                </p>
            </div>
        </article>
    </section>
{% endblock %}
