{% extends "layout.html.twig" %}

{% block title %}Pizza - Admin{% endblock %}   

{% block body %}

    <section>
        <article>
            <h2>ADMIN</h2>
        </article>
    </section>
{% endblock %}
