{% extends "layout.html.twig" %}

{% block title %}Pizza - Admin{% endblock %}   

{% block body %}

    <section>
        <article>
            <h2>ADMIN</h2>


            <div class="well">
                <p>
                    <a class="btn btn-primary" href="/admin/pizza/add">AJOUTER UNE PIZZA</a>
                </p>
            </div>
        </article>
    </section>
{% endblock %}
