{% extends "layout.html.twig" %}

{% block title %}Pizza - Commande{% endblock %}   

{% block body %}

    <section>
        <article>
            <h2>Commander une pizza</h2>

            <div class="well">
            </div>
        </article>
    </section>
{% endblock %}
