{% extends "layout.html.twig" %}

{% block title %}Pizza - Commande{% endblock %}   

{% block body %}

    <section>
        <article>
            <h2>Commande en cours</h2>

            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>Numéro</th>
                        <th>Telephone</th>
                        <th>Pizza</th>
                        <th>User</th>
                        <th>Action</th>
                    </tr>
                <thead>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.telephone }}</td>
                        <td>{{ commande.pizza }}</td>
                        <td>{{ commande.user }}</td>
                        <td><a class="btn btn-primary" href="">LIVREE</a>
                    </tr>
                {% endfor %}
                
            </table>
        </article>
    </section>
{% endblock %}
